{% extends "base.html" %} 

{% block content %} 
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    {{ error|escape }}
</div>
{% endfor %}

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-group">
        {% for error in form.password1.errors %}
        <div class="alert alert-warning">
            {{ error|escape }}
        </div>
        {% endfor %}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>
    <div class="form-group">
        {% for error in form.password2.errors %}
        <div class="alert alert-warning">
            {{ error|escape }}
        </div>
        {% endfor %}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>
    <input type="submit" value="Register" class="btn btn-primary" />
    <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
    <input type="hidden" name="next" value="{% url 'home' %}" />
</form>
{% endblock %}
